.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .cartItem{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
  }
  
  .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  .price{
    float:right;
    font-size:20px;
  }
  .button{
    border-radius: 1rem;
    background-color: #ada6a6;
    border: transparent;
    font-size: 25px;
    float: right;
    margin-right: 2rem;
    margin-top: 2rem;
  }
  .close{
    border-radius:1rem;
  background-color: #bc0707;
  border: transparent;
  float:right;
  margin-right:2rem;
  font-size: 25px;
  margin-top:2rem;
  }
  