*{
    margin-top: 0;
}
.header{
    background-color: rgb(62, 7, 7);
    color: white;
}

.button {
    height: 70px;
    width: 250px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    margin-left: 1000px;
    margin-right: 100px;
    background-color: rgb(214, 29, 29);
    border-radius: 4rem;
    text-align: center;
    align-items: center;
}

.button icon{
    margin-top: 20px;
}
.badge{
    text-align: center;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    background-color: #550707;
    border-radius: 2rem;
    display: inline;
    color:white;
   
}

img {
    width: 100%;
    height: auto;
    margin: 0;
  }